.section-planet {
    background-image: -webkit-radial-gradient(
        bottom,
        circle cover,
        #101010 0%,
        #0d0d0e 80%
      );
      background-image: -moz-radial-gradient(
        top,
        circle cover,
        #282828 0%,
        #0d0d0e 80%
      );
      background-image: -o-radial-gradient(
        top,
        circle cover,
        #282828 0%,
        #0d0d0e 80%
      );
      background-image: radial-gradient(top, circle cover, #282828 0%, #0d0d0e 80%);
}

.container-planet {
    height: 75vh;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    border: 1px solid #3c3c3c3e;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    background-image: linear-gradient(133.84deg, rgba(78, 78, 78, 0.413) -16.04%, rgba(51, 51, 51, 0.5) 9.33%, rgba(26, 26, 26, 0.454) 32.02%, rgba(26, 26, 26, 0.326) 62.06%, rgba(38, 38, 38, 0.5) 87.42%, rgba(78, 78, 78, 0.297) 112.12%);
}

.container-button {
    height: 50px;
    width: 300px; 
    background-color: antiquewhite;
    margin-bottom: 30px;
}

.planet {
    height: 50vh;
    width: 40%; 
    position: relative;
    display: flex;
    align-items: center;
}

.planet-info {
    height: 30vh;
    width: 38%; 
    background-color: antiquewhite;
}

.sun {
    height: 250px;
    width: 250px;
    position: relative;
    top: 0%;
    left: 25%;
    border: 1px solid #e96214a0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    background-size: cover;
    background-image: var(--sun-image);
    box-shadow: #db590378 0px 30px 60px 20px, #f4880df3 0px 28px 36px -28px;
    transform: var(--sun-tilt) scale(1.2);
    animation: planetRotate calc(var(--sun-day) * 0.1s) linear infinite;
}

.shadow-sun {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 18%;
    left: 20%;
    z-index: 3;
    border-radius: 50%;
    box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), inset -70px 0px 50px 0px #d8761383, -5px 0px 30px -4px #cc9f4c;
}

.light-sun {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 18%;
    left: 20%;
    z-index: 4;
    border-radius: 50%;
    background: radial-gradient( circle at 40% 50%, rgba(252, 187, 153, 0.647) 0%, rgba(255, 255, 255, 0) 65% );
}
