section {
  height: 100vh;
  background: #282537;
}

.sc0 {
  background-color: #f07575;
  color: #000;
}

.sc1 {
  background-color: #f0e675;
  color: #000;
}

.sc2 {
  background-color: #94f075;
  color: #000;
}

.sc3 {
  background-color: #75bff0;
  color: #000;
}