.middle-section {
    height: 60vh;
    width: 100%;
    background: #282537;
    background-image: -webkit-radial-gradient(
      bottom,
      circle cover,
      #0d0d0e 0%,
      #0d0d0e 80%
    );
    background-image: -moz-radial-gradient(
      bottom,
      circle cover,
      #282828 0%,
      #0d0d0e 80%
    );
    background-image: -o-radial-gradient(
      bottom,
      circle cover,
      #282828 0%,
      #0d0d0e 80%
    );
    background-image: radial-gradient(center, circle cover, #282828 0%, #0d0d0e 80%);
}